{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name patterning.macros, :imports nil, :requires nil, :uses nil, :defs {optional-styled-primitive {:protocol-inline nil, :meta {:file "/media/phil/MyData/new_dev_tree/teaching/googdevgroup/clojurescript-4-gdg/resources/public/js/compiled/devcards_out/patterning/macros.cljc", :line 4, :column 11, :end-line 4, :end-column 36, :macro true, :arglists (quote ([args body]))}, :name patterning.macros/optional-styled-primitive, :variadic false, :file "resources/public/js/compiled/devcards_out/patterning/macros.cljc", :end-column 36, :method-params ([&form &env args body]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :macro true, :end-line 4, :max-fixed-arity 4, :fn-var true, :arglists (quote ([args body]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{group ->SShape cljs.core/fn style}, :order [style cljs.core/fn group ->SShape]}, :doc nil}